{% extends "main-template.html" %}{% load static %}
{% block title %}Tienda Mascotas{% endblock %}
{% block content %}

<style>
  .body-form{
    height: 100vh;
      width: 100%;
      background-image: url("{% static 'img/product/dark-blue-vector.jpg' %}");
      background-color: rgb(50,50,50);
      background-blend-mode: soft-light;
      padding: 1px;
      color: red;
  }
  #frm-perruqueria{
    background: rgb(0 0 0 / 32%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
</style>
<div class="body-form">

<div style="width: 90%; margin:0 auto;" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/product/carru1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/product/carru2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/product/carru3.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <div> INFORMACION API</div>
  <div class="card">
    <div class="card-body">
      {{ dolar }} {{ fecha }}
    </div>
<div>
</div>
</div>
{% endblock %}
